@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <div class="banner-content">
        <h1><b><u>Fees Voucher Management System</u></b></h1>
        <p><i>Quick Generate Fee Voucher</i></p>
        <a class="btn btn-warning"asp-controller="Voucher" asp-action="Create">Create Voucher</a>
    </div>
</div>
